<app-nav-bar></app-nav-bar>
<div class="container w-50 mt-5">
    <div class="container mt-5">
        <h2>Public Features</h2>
        <ul>
            <li>Sort the reports table by location name, villain, and time.</li>
            <li>View a report's information by clicking its view button.</li>
            <li>Add a new report by clicking the add new report button in the home page or navigation bar menu.</li>
            <li>When adding a report, users can select an existing location in the provided datalist. Otherwise, they could add a new location.</li>
            <li>The map will display all reported nuisances with a marker</li>
        </ul>
    </div>
    <div class="container mt-5">
        <h2>Admin Features</h2>
        <ul>
            <li>Admins will need a password to change a report's details</li>
            <li>Change the status of a report by clicking the status button. The status will change from 'OPEN' to 'RESOLVED' and vice versa.</li>
            <li>Delete a report by clicking the x button.</li>
        </ul>
    </div>
</div>